# 01. PlayingNumbers/ds_salary_proj

## Exploratory Data Analysis | Series 2 - glassdoor_jobs.csv

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('01_glassdoor_jobs.csv')
df = df.drop('Unnamed: 0',axis=1)

In [3]:
# First 5 rows of the dataset
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\r\nJob ID: 310709\r...,3.8,PNNL\r\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\r\nAffinity Solutions / Marketi...,2.9,Affinity Solutions\r\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [4]:
# All columns, their counts and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 956 entries, 0 to 955
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          956 non-null    object
 1   Salary Estimate    956 non-null    object
 2   Job Description    956 non-null    object
 3   Rating             956 non-null    float64
 4   Company Name       956 non-null    object
 5   Location           956 non-null    object
 6   Headquarters       956 non-null    object
 7   Size               956 non-null    object
 8   Founded            956 non-null    int64
 9   Type of ownership  956 non-null    object
 10  Industry           956 non-null    object
 11  Sector             956 non-null    object
 12  Revenue            956 non-null    object
 13  Competitors        956 non-null    object
dtypes: float64(1), int64(1), object(12)
memory usage: 104.7+ KB

In [5]:
# Stats about numerical columns (only two exist)
df.describe()

           Rating      Founded
count  956.000000   956.000000
mean     3.601255  1774.605649
std      1.067619   598.942517
min     -1.000000    -1.000000
25%      3.300000  1937.000000
50%      3.800000  1992.000000
75%      4.200000  2008.000000
max      5.000000  2019.000000

In [6]:
# Example Row
print(df.iloc[5])
print(df.loc[5,'Job Description'])

Job Title                                               Data Scientist
Salary Estimate                            $71K-$119K (Glassdoor est.)
Job Description      CyrusOne is seeking a talented Data Scientist ...
Rating                                                             3.4
Company Name                                           CyrusOne\r\n3.4
Location                                                    Dallas, TX
Headquarters                                                Dallas, TX
Size                                              201 to 500 employees
Founded                                                           2000
Type of ownership                                     Company - Public
Industry                                                   Real Estate
Sector                                                     Real Estate
Revenue                                         $1 to $2 billion (USD)
Competitors                          Digital Realty, CoreSite, Equinix
Name: 5, dtype: object
CyrusOne is seeking a talented Data Scientist who holds a range of data-focused skills both in technical and analytical domains. The ideal candidate is adept at processing, cleansing, and verifying the integrity of data used for visualization and analysis. This role is dynamic, granting the candidate the opportunity to participate in a wide variety of projects and collaborate with many cross-functional teams throughout the business.

Duties and Responsibilities:
Participate in an agile scrum cadence
Process, cleanse, and verify the integrity of data used for analysis
Perform functional business requirements analysis and data analysis
Develop data models and algorithms to apply to data sets
Augment data collection procedures to include necessary information for building accurate analytics
Collaborate with stakeholders throughout the organization to identify opportunities for leveraging data to drive business solutions
Evaluate the effectiveness and accuracy of data sources and data gathering techniques
Gather critical information from meetings with various stakeholders and produce useful reports
Coordinate with cross-functional teams to implement models and monitor outcomes
Develop automated discrepancy detection systems and distribute reconciliation reports to stakeholders
Requirements:
Must be legally authorized to work in the United States for any employer without sponsorship
Professional experience using statistical software languages like R, Python, and SQL to query, manipulate, and draw insights from data sets
Strong problem-solving skills with an emphasis on product development
Extensive experience with Microsoft SQL, MySQL and MongoDB
Understanding of version control (git) and project management with Azure DevOps
Knowledge of machine learning techniques (clustering, decision tree learning, artificial neural networks, etc.)
Experience visualizing data for stakeholders using visualization tools such as Power BI
Experience working with and creating data architectures
Understanding and adherence to agile principles and practices
Ability to work on problems of any scope where the analysis of situations or data requires a review of a variety of factors
Self-maintainability and reliability with minimal supervision
Excellent interpersonal communication, decision making, presentation, and organizational skills
Ability to build productive internal/external working relationships
Harmonious with CyrusOne culture, core values, and business goals
Minimum Qualifications:
2+ years of related experience in a data analyst role
Strong can-do attitude in a time sensitive environment
Other important information about this position:
This position requires typical weekday (Monday - Friday) attendance in an office setting, at times after hours work may be required to meet business and customer needs
Every position requires certain physical capabilities. CyrusOne seeks to make reasonable accommodations that enable individuals with disabilities to perform essential duties when possible
CyrusOne is an equal opportunity employer. All qualified applicants will receive consideration for employment without regard to race, color, sex, sexual orientation, gender identity, religion, national origin, disability, veteran status, or other legally protected status.

CyrusOne provides reasonable accommodation for qualified individuals with disabilities in accordance with the Americans with Disabilities Act (ADA) and any other state or local laws. We will respond to requests for reasonable accommodations to assist you in applying for positions at CyrusOne, or to submit a resume. If you need to request an accommodation, please contact our Human Resources at 214.488.1365 (Option 7) or by email at HR@cyrusone.com.

In [7]:
# Random 10 job titles
df['Job Title'].sample(10)

922                                       Data Scientist
378                                       Data Scientist
843                                       Data Scientist
741        Scientist â€“ Cancer Discovery, Molecular Assay
244                                 Data Engineer with R
772    Scientist, Upstream Process Development (Biore...
702                                IT - Data Engineer II
858      Associate Principal Scientist, Pharmacogenomics
672                                 Senior Data Engineer
612                                       Data Scientist
Name: Job Title, dtype: object

In [8]:
# Random 10 salary estimates (-1 should mean no information provided)
df['Salary Estimate'].sample(10)

640      $43K-$86K (Glassdoor est.)
1       $63K-$112K (Glassdoor est.)
293     $74K-$119K (Glassdoor est.)
711     $61K-$126K (Glassdoor est.)
15     $102K-$190K (Glassdoor est.)
63      $71K-$119K (Glassdoor est.)
625     $89K-$144K (Glassdoor est.)
575     $85K-$142K (Glassdoor est.)
794      $49K-$76K (Glassdoor est.)
735      $38K-$64K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [9]:
# Get the job description length
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))
print("#### LONGEST JOB DESC LENGTHS ####")
print(df['desc_len'].sort_values(ascending=False).head(10))
print("#### SHORTEST JOB DESC LENGTHS ####")
print(df['desc_len'].sort_values().head(10))

#### LONGEST JOB DESC LENGTHS ####
202    10146
319    10146
257     9347
46      9165
509     9165
749     8882
498     8882
526     8876
789     8876
440     8766
Name: desc_len, dtype: int64
#### SHORTEST JOB DESC LENGTHS ####
901    407
161    695
404    709
581    709
328    714
345    723
214    723
876    730
130    745
762    871
Name: desc_len, dtype: int64

In [10]:
# Random 10 company names and the years they were founded in
df[['Company Name','Founded']].sample(10)

                                          Company Name  Founded
731                    Liberty Mutual Insurance\r\n3.3     1912
323                                Vionic Group\r\n3.6     2006
26                                       Pfizer\r\n4.0     1849
654  The Church of Jesus Christ of Latter-day Saint...       -1
756                           Reynolds American\r\n3.1     1875
574                    Pyramid Consulting, Inc.\r\n3.9     1996
835                          FrankCrum Staffing\r\n3.3     1981
233                                      Tapjoy\r\n3.9     2007
13                                       Yesler\r\n4.1     2012
69                                     Blue Owl\r\n4.5     2016

In [11]:
# Top 10 most available locations
print("#### MOST AVAILABLE LOCATIONS ####")
print(df['Location'].value_counts().head(10))

#### MOST AVAILABLE LOCATIONS ####
New York, NY               78
San Francisco, CA          71
Cambridge, MA              59
Chicago, IL                37
Boston, MA                 24
South San Francisco, CA    18
Pittsburgh, PA             18
San Jose, CA               16
Austin, TX                 13
Chantilly, VA              13
Name: Location, dtype: int64

In [12]:
# Top 10 most available 10 headquarters
print("#### MOST AVAILABLE HEADQUARTERS ####")
print(df['Headquarters'].value_counts().head(10))

#### MOST AVAILABLE HEADQUARTERS ####
New York, NY               75
San Francisco, CA          50
Chicago, IL                33
Cambridge, MA              22
Boston, MA                 17
Salt Lake City, UT         16
Mountain View, CA          15
Pittsburgh, PA             15
South San Francisco, CA    15
Reston, VA                 15
Name: Headquarters, dtype: int64

In [13]:
# All available sizes and counts
df['Size'].value_counts()

1001 to 5000 employees     177
201 to 500 employees       160
51 to 200 employees        155
10000+ employees           154
501 to 1000 employees      144
5001 to 10000 employees     79
1 to 50 employees           61
Unknown                     15
-1                          11
Name: Size, dtype: int64

In [14]:
# All available types of ownership and counts
df['Type of ownership'].value_counts()

Company - Private                 532
Company - Public                  237
Nonprofit Organization             65
Subsidiary or Business Segment     40
Government                         17
Hospital                           15
College / University               15
Unknown                            11
-1                                 11
Other Organization                  5
Contract                            5
School / School District            2
Private Practice / Firm             1
Name: Type of ownership, dtype: int64

In [15]:
# Top 10 most available industries
df['Industry'].value_counts().head(10)

Biotech & Pharmaceuticals                  148
IT Services                                 77
Computer Hardware & Software                70
Insurance Carriers                          65
Enterprise Software & Network Solutions     56
Health Care Services & Hospitals            51
Staffing & Outsourcing                      39
-1                                          39
Internet                                    36
Consulting                                  34
Name: Industry, dtype: int64

In [16]:
# Top 10 most available sectors
df['Sector'].value_counts().head(10)

Information Technology       239
Biotech & Pharmaceuticals    148
Business Services            134
Insurance                     71
Finance                       56
Health Care                   51
Manufacturing                 40
-1                            39
Aerospace & Defense           32
Education                     26
Name: Sector, dtype: int64

In [17]:
# All available revenues and counts
df['Revenue'].value_counts()

Unknown / Non-Applicable            299
$10+ billion (USD)                  140
$100 to $500 million (USD)          107
$1 to $2 billion (USD)               68
$500 million to $1 billion (USD)     62
$25 to $50 million (USD)             59
$50 to $100 million (USD)            52
$2 to $5 billion (USD)               44
$10 to $25 million (USD)             39
$5 to $10 million (USD)              29
$5 to $10 billion (USD)              20
$1 to $5 million (USD)               17
-1                                   11
Less than $1 million (USD)            9
Name: Revenue, dtype: int64

In [18]:
# Random 10 competitor groups (-1 should mean no competitors)
print(df['Competitors'].sample(10))
# Competitor counts
print("\n#### HIGHEST COMPETITOR COUNTS ####")
df['num_comp'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)
print(df['num_comp'].sort_values(ascending=False).head(10))
print("\n#### COUNTS OF DIFFERENT COMPETITOR COUNTS ####")
print(df['num_comp'].value_counts())

290    See Tickets, TicketWeb, Vendini
122                                 -1
543                                 -1
470                                 -1
675    Travelers, Allstate, State Farm
178                                 -1
511    SPR, MATRIX Resources, NueVista
732                                 -1
583                                 -1
417                                 -1
Name: Competitors, dtype: object

#### HIGHEST COMPETITOR COUNTS ####
75     4
167    3
204    3
818    3
623    3
210    3
358    3
206    3
619    3
826    3
Name: num_comp, dtype: int64

#### COUNTS OF DIFFERENT COMPETITOR COUNTS ####
0    634
3    253
2     50
1     18
4      1
Name: num_comp, dtype: int64