# 02. Trouble404/kaggle-Job-Salary-Prediction

## Exploratory Data Analysis | Series 2 - Test_rev1.csv

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
salary_data = pd.read_csv('02_Test_rev1.csv')

In [2]:
# First 5 rows of the dataset
salary_data.head()

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SourceName
0,11888454,Business Development Manager,The Company: Our client is a national training...,"Tyne Wear, North East",Newcastle Upon Tyne,NaN,permanent,Asset Appointments,Teaching Jobs,cv-library.co.uk
1,11988350,Internal Account Manager,The Company: Founded in **** our client is a U...,"Tyne and Wear, North East",Newcastle Upon Tyne,NaN,permanent,Asset Appointments,Consultancy Jobs,cv-library.co.uk
2,12612558,Engineering Systems Analysts,Engineering Systems Analysts Surrey ****K Loca...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,cv-library.co.uk
3,12613014,CIS Systems Engineering Consultant,CIS Systems Engineering Consultant Bristol So...,"Bristol, South West, South West",Bristol,NaN,permanent,Gregory Martin International,Engineering Jobs,cv-library.co.uk
4,22454872,CNC Miller / Programmer Fanac,"CNC Miller / Programmer Fanac Fleet, Hampshire...","Fleet, Hampshire",Fleet,NaN,permanent,Gregory Martin International,Manufacturing Jobs,cv-library.co.uk

In [3]:
# All columns, their counts and data types
salary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122463 entries, 0 to 122462
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id                  122463 non-null  int64
 1   Title               122463 non-null  object
 2   FullDescription     122463 non-null  object
 3   LocationRaw         122463 non-null  object
 4   LocationNormalized  122463 non-null  object
 5   ContractType        33013 non-null   object
 6   ContractTime        90702 non-null   object
 7   Company             106202 non-null  object
 8   Category            122463 non-null  object
 9   SourceName          122463 non-null  object
dtypes: int64(1), object(9)
memory usage: 9.3+ MB

When compared to Train_rev1.csv, this dataset does not contain `SalaryRaw` & `SalaryNormalized` columns.

In [4]:
# Example row
print(salary_data.iloc[0])
print(salary_data.loc[0,'FullDescription'])

Id                                                             11888454
Title                                      Business Development Manager
FullDescription       The Company: Our client is a national training...
LocationRaw                                       Tyne Wear, North East
LocationNormalized                                  Newcastle Upon Tyne
ContractType                                                        NaN
ContractTime                                                  permanent
Company                                              Asset Appointments
Category                                                  Teaching Jobs
SourceName                                             cv-library.co.uk
Name: 0, dtype: object
The Company: Our client is a national training provider based in Gateshead, delivering learning programmes across many regions of England. Founded in **** they have developed a firm foundation that underpins their core offer to employers and individuals that is we work with you to fully understand your training and development needs . Their expertise enables them to deliver a range of learning programmes from NVQ certificates and diplomas to short courses that are designed to upskill individuals, including English and maths. They contract with the Skills Funding Agency to provide Workplace and Classroom based learning programmes, Apprenticeships and courses for individuals who are currently seeking employment or alternative employment. The Role:  Our client is looking for an exceptional business development person who could hit the ground running and have a possible client base to bring with them.  Selling to businesses local and nationally NVQ and apprenticeship opportunities in Business Admin, Customer Service, Health and Social Care, Plant and Construction, as well as commercial. The Individual:  Extremely motivated.  Excellent organisation skills.  Excellent knowledge of the delivering NVQ s and Apprenticeships. Additional: Mobile phone Laptop 20 days holiday and **** public holidays ****p per mile allowance **** per month car allowance Excellent bonus structure

## Column Analysis

In [5]:
print(salary_data['Title'].nunique(), "different titles available")
print("\n#### MOST FREQUENT TITLES ####")
print(salary_data['Title'].value_counts()[:20])

78133 different titles available

#### MOST FREQUENT TITLES ####
Business Development Manager    410
Project Manager                 350
Management Accountant           327
Sales Executive                 281
Account Manager                 275
Administrator                   235
Mechanical Design Engineer      228
Recruitment Consultant          227
Assistant Manager               226
Finance Manager                 223
Credit Controller               209
Cleaner                         206
Accounts Assistant              206
Financial Controller            195
Business Analyst                184
Store Manager                   176
Quality Engineer                173
Marketing Manager               163
Sales Manager                   149
Support Worker                  146
Name: Title, dtype: int64

In [6]:
salary_data['FullDescriptionLength'] = salary_data['FullDescription'].apply(lambda x: len(x))
print("#### THE LONGEST JOB DESCRIPTIONS ####")
print(salary_data['FullDescriptionLength'].sort_values(ascending=False)[:20])

#### THE LONGEST JOB DESCRIPTIONS ####
75651     12377
78025     11800
83589     11065
97262     10095
44829      9752
44832      9680
103270     9662
16469      9612
62527      9466
57853      9198
14030      9148
14032      8972
86415      8874
45307      8775
89925      8750
84619      8673
71672      8642
92403      8611
90633      8450
57999      8431
Name: FullDescriptionLength, dtype: int64

In [7]:
print(salary_data['LocationRaw'].nunique(), "unique raw locations")
print("\n#### MOST FREQUENT LOCATIONS ####")
print(salary_data['LocationRaw'].value_counts()[:20])

13994 unique raw locations

#### MOST FREQUENT LOCATIONS ####
London                                             8049
London South East                                  4208
UK                                                 2816
City London South East                             1423
City of London                                     1153
West Midlands                                      1115
City of London - London                            1106
Birmingham                                         1026
Manchester Lancashire North West                    918
Central London                                      875
Manchester                                          837
Belfast                                             832
Greater London                                      744
Birmingham West Midlands (County) West Midlands     717
Leeds West Yorkshire Yorkshire                      691
Surrey                                              678
South East                                          675
Bristol Avon South West                             617
Bristol                                             588
Leeds                                               570
Name: LocationRaw, dtype: int64

In [8]:
print(salary_data['LocationNormalized'].nunique(), "unique normalized locations")
print("\n#### MOST FREQUENT LOCATIONS (NORMALIZED) ####")
print(salary_data['LocationNormalized'].value_counts()[:20])

2142 unique normalized locations

#### MOST FREQUENT LOCATIONS (NORMALIZED) ####
UK                   20633
London               15569
South East London     5714
The City              3324
Manchester            1796
Leeds                 1684
Birmingham            1619
Central London        1347
Surrey                1264
West Midlands         1236
Reading               1052
Bristol               1039
Sheffield              933
Nottingham             865
Hampshire              845
Belfast                844
Aberdeen               797
East Sheen             794
Berkshire              786
Milton Keynes          743
Name: LocationNormalized, dtype: int64

In [9]:
print(salary_data['ContractType'].isnull().sum(), "contract types are null!")
print("\n#### CONTRACT TYPES ####")
print(salary_data['ContractType'].value_counts())

89450 contract types are null!

#### CONTRACT TYPES ####
full_time    29078
part_time     3935
Name: ContractType, dtype: int64

In [10]:
print(salary_data['ContractTime'].isnull().sum(), "contract times are null!")
print("\n#### CONTRACT TIMES ####")
print(salary_data['ContractTime'].value_counts())

31761 contract times are null!

#### CONTRACT TIMES ####
permanent    75523
contract     15179
Name: ContractTime, dtype: int64

In [11]:
print(salary_data['Company'].nunique(), "unique company names")
print(salary_data['Company'].isnull().sum(), "company names are null!")
print("\n#### MOST ENCOUNTERED COMPANIES ####")
print(salary_data['Company'].value_counts()[:20])

15307 unique company names
16261 company names are null!

#### MOST ENCOUNTERED COMPANIES ####
UKStaffsearch                  2509
CVbrowser                      1479
London4Jobs                    1194
Hays                            976
JAM Recruitment Ltd             523
Office Angels                   479
ARRAY                           472
Jobsite Jobs                    453
JOBG8                           451
Matchtech Group plc.            421
Perfect Placement               408
Penguin Recruitment             388
Randstad                        365
Michael Page Finance            343
Adecco                          328
BMS Sales Specialists LLP       286
Adecco Group                    278
Michael Page Sales              256
COREcruitment International     250
Capita Resourcing               244
Name: Company, dtype: int64

In [12]:
print("#### ALL JOB CATEGORIES ####")
print(salary_data['Category'].value_counts())

#### ALL JOB CATEGORIES ####
IT Jobs                             19408
Engineering Jobs                    12700
Accounting & Finance Jobs           10886
Healthcare & Nursing Jobs           10603
Other/General Jobs                   8504
Sales Jobs                           8354
Teaching Jobs                        6417
Hospitality & Catering Jobs          5633
PR, Advertising & Marketing Jobs     4434
Trade & Construction Jobs            4361
HR & Recruitment Jobs                3883
Admin Jobs                           3756
Retail Jobs                          3368
Customer Services Jobs               3104
Legal Jobs                           1960
Logistics & Warehouse Jobs           1896
Manufacturing Jobs                   1800
Social work Jobs                     1766
Consultancy Jobs                     1693
Travel Jobs                          1566
Scientific & QA Jobs                 1237
Charity & Voluntary Jobs             1116
Energy, Oil & Gas Jobs               1045
Creative & Design Jobs                812
Maintenance Jobs                      764
Graduate Jobs                         669
Property Jobs                         518
Domestic help & Cleaning Jobs         136
Part time Jobs                         74
Name: Category, dtype: int64

In [13]:
print(salary_data['SourceName'].nunique(), "unique source names")
print("\n#### MOST ENCOUNTERED SOURCE NAMES ####")
print(salary_data['SourceName'].value_counts()[:20])

168 unique source names

#### MOST ENCOUNTERED SOURCE NAMES ####
totaljobs.com                     23910
cv-library.co.uk                  17194
Jobcentre Plus                     8928
jobsite.co.uk                      6142
cwjobs.co.uk                       3441
fish4.co.uk                        3142
MyUkJobs                           2719
jobs.guardian.co.uk                2527
ukstaffsearch.com                  2509
technojobs.co.uk                   2359
staffnurse.com                     2273
jobserve.com                       2120
caterer.com                        2096
careworx.co.uk                     2094
jobs.catererandhotelkeeper.com     1823
hays.co.uk                         1554
cvbrowser.com                      1479
gojobsearch.co.uk                  1410
theitjobboard.co.uk                1318
retailchoice.com                   1303
Name: SourceName, dtype: int64