# 06. jhanvi831/Software-Engineer-Salary-Prediction

## Exploratory Data Analysis - survey_results_public.csv

**Dataset is based on 2021 Stack Overflow data**

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('06_survey_results_public.csv')

In [4]:
# First 5 rows of the dataset
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [5]:
# Show all columns, their counts and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [97]:
print(df.iloc[0])
print("EMPLOYMENT ->", df.loc[0,'Employment'])
print("EDUCATION ->", df.loc[0,'EdLevel'])
print("LEARN CODE ->", df.loc[0,'LearnCode'])
print("STUCK ->", df.loc[0,'NEWStuck'])

ResponseId                                                                      1
MainBranch                                         I am a developer by profession
Employment                      Independent contractor, freelancer, or self-em...
Country                                                                  Slovakia
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          18 - 24 years
LearnCode                       Coding Bootcamp;Other online resources (ex: vi...
YearsCode                                                                     NaN
YearsCodePro                                                                  NaN
DevType                                                         Developer, mobile
OrgSize                                                        20 to 99 employees
Currency                                                        EUR European Euro
CompTotal                                                                  4800.0
CompFreq                                                                  Monthly
LanguageHaveWorkedWith              C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift
LanguageWantToWorkWith                                                      Swift
DatabaseHaveWorkedWith                                          PostgreSQL;SQLite
DatabaseWantToWorkWith                                                     SQLite
PlatformHaveWorkedWith                                                        NaN
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                            Laravel;Symfony
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       NaN
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                                       PHPStorm;Xcode
NEWCollabToolsWantToWorkWith                                           Atom;Xcode
OpSys                                                                       MacOS
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                                Multiple times per day
SOAccount                                                                     Yes
SOPartFreq                                        A few times per month or weekly
SOComm                                                            Yes, definitely
NEWOtherComms                                                                  No
Age                                                               25-34 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                 Straight / Heterosexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                                                    None of the above
SurveyLength                                                Appropriate in length
SurveyEase                                                                   Easy
ConvertedCompYearly                                                       62268.0
Name: 0, dtype: object
EMPLOYMENT -> Independent contractor, freelancer, or self-employed
EDUCATION -> Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)
LEARN CODE -> Coding Bootcamp;Other online resources (ex: videos, blogs, etc)
STUCK -> Call a coworker or friend;Visit Stack Overflow;Go for a walk or other physical activity;Google it

In [6]:
# Get statistical info about numerical columns (there are only two if we don't include ResponseId)
df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

## Column Analysis

In [7]:
print("#### MAIN BRACHES ####")
print(df['MainBranch'].value_counts())
print("\n{} null values were found".format(df['MainBranch'].isnull().sum()))

#### MAIN BRACHES ####
I am a developer by profession                                                   58153
I am a student who is learning to code                                           12029
I am not primarily a developer, but I write code sometimes as part of my work     6578
I code primarily as a hobby                                                       4929
I used to be a developer by profession, but no longer am                          1237
None of these                                                                      513
Name: MainBranch, dtype: int64

0 null values were found

In [8]:
print("#### EMPLOYMENT TYPES ####")
print(df['Employment'].value_counts())
print("\nThere are {} null values in Employment".format(df['Employment'].isnull().sum()))

#### EMPLOYMENT TYPES ####
Employed full-time                                      53584
Student, full-time                                      11781
Independent contractor, freelancer, or self-employed     8041
Not employed, but looking for work                       2961
Employed part-time                                       2461
Student, part-time                                       2051
Not employed, and not looking for work                   1228
I prefer not to say                                       890
Retired                                                   326
Name: Employment, dtype: int64

There are 116 null values in Employment

In [9]:
print("#### TOP 20 COUNTRIES ####")
print(df['Country'].value_counts()[:20])
print("\n{} different countries exist".format(df['Country'].nunique()))

#### TOP 20 COUNTRIES ####
United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
France                                                   2708
Brazil                                                   2254
Poland                                                   1805
Netherlands                                              1772
Italy                                                    1666
Australia                                                1646
Spain                                                    1485
Russian Federation                                       1474
Sweden                                                   1196
China                                                    1055
Turkey                                                   1054
Switzerland                                               922
Israel                                                    913
Iran, Islamic Republic of...                              900
Pakistan                                                  838
Name: Country, dtype: int64

181 different countries exist

In [10]:
print("#### 20 MOST FREQUENT US STATES ####")
print(df['US_State'].value_counts()[:20])
print("\n{} different US states exist here".format(df['US_State'].nunique()))
print("{} out of {} rows contain null US State values!".format(df['US_State'].isnull().sum(), len(df)))

#### 20 MOST FREQUENT US STATES ####
California        2163
Texas             1023
New York           961
Washington         932
Massachusetts      624
Florida            613
Illinois           587
Colorado           549
Pennsylvania       499
Virginia           453
Ohio               448
Utah               415
North Carolina     403
Michigan           381
Oregon             375
Minnesota          359
Georgia            356
Maryland           350
New Jersey         347
Wisconsin          266
Name: US_State, dtype: int64

55 different US states exist here
68519 out of 83439 rows contain null US State values!

In [11]:
print("#### COUNTRIES FROM UNITED KINGDOM ####")
print(df['UK_Country'].value_counts())
print(">>> Total:", df['UK_Country'].value_counts().sum())

#### COUNTRIES FROM UNITED KINGDOM ####
England             3915
Scotland             341
Wales                 86
Northern Ireland      76
Name: UK_Country, dtype: int64
>>> Total: 4418

In [12]:
print("#### EDUCATION LEVELS ####")
print(df['EdLevel'].value_counts())
print("\n{} out of {} rows contain null Education Level values".format(df['EdLevel'].isnull().sum(), len(df)))

#### EDUCATION LEVELS ####
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          35357
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       17512
Some college/university study without earning a degree                                10589
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     9534
Other doctoral degree (Ph.D., Ed.D., etc.)                                             2567
Primary/elementary school                                                              2479
Associate degree (A.A., A.S., etc.)                                                    2231
Something else                                                                         1601
Professional degree (JD, MD, etc.)                                                     1256
Name: EdLevel, dtype: int64

313 out of 83439 rows contain null Education Level values

In [13]:
print("#### THE AGES WHEN PEOPLE WROTE THEIR FIRST CODE ####")
print(df['Age1stCode'].value_counts())
print("\n{} out of {} rows contain null values".format(df['Age1stCode'].isnull().sum(), len(df)))

#### THE AGES WHEN PEOPLE WROTE THEIR FIRST CODE ####
11 - 17 years           44170
18 - 24 years           20065
5 - 10 years            11720
25 - 34 years            4199
35 - 44 years            1312
Younger than 5 years      905
45 - 54 years             544
55 - 64 years             245
Older than 64 years        83
Name: Age1stCode, dtype: int64

196 out of 83439 rows contain null values

In [14]:
print("#### 10 MOST COMMON WAY HOW PEOPLE STARTED TO LEARN CODING ####")
print(df['LearnCode'].value_counts()[:10])
print("\nThere are {} different ways people started to learn coding...".format(df['LearnCode'].nunique()))
print("{} out of {} rows contain null values".format(df['LearnCode'].isnull().sum(), len(df)))

#### 10 MOST COMMON WAY HOW PEOPLE STARTED TO LEARN CODING ####
School                                                                                                                        7242
Other online resources (ex: videos, blogs, etc)                                                                               3502
Books / Physical media                                                                                                        3357
School;Books / Physical media                                                                                                 3136
Other online resources (ex: videos, blogs, etc);School;Books / Physical media                                                 2441
Other online resources (ex: videos, blogs, etc);School                                                                        2292
Other online resources (ex: videos, blogs, etc);School;Online Courses or Certification;Books / Physical media                 2238
Other online resources (ex: videos, blogs, etc);School;Online Forum;Online Courses or Certification;Books / Physical media    1829
Other online resources (ex: videos, blogs, etc);Books / Physical media                                                        1772
Other (please specify):                                                                                                       1699
Name: LearnCode, dtype: int64

There are 458 different ways people started to learn coding...
476 out of 83439 rows contain null values

In [15]:
print("#### EXPERIENCE YEARS OF CODING (TOP 10) ####")
print(df['YearsCode'].value_counts()[:10])
print("\n{} out of {} rows have no years of experience of coding".format(df['YearsCode'].isnull().sum(), len(df)))

#### EXPERIENCE YEARS OF CODING (TOP 10) ####
5     6190
10    6067
6     5565
4     5049
7     4940
8     4714
3     4449
15    3625
20    3419
2     3342
Name: YearsCode, dtype: int64

1798 out of 83439 rows have no years of experience of coding

In [16]:
print("#### EXPERIENCE YEARS OF CODING AS PROFESSIONAL (TOP 10) ####")
print(df['YearsCodePro'].value_counts()[:10])
print("\n{} out of {} rows have no years of experience of coding".format(df['YearsCodePro'].isnull().sum(), len(df)))

#### EXPERIENCE YEARS OF CODING AS PROFESSIONAL (TOP 10) ####
3                   5812
2                   5472
5                   5095
4                   4803
6                   3804
10                  3780
7                   3159
1                   3047
8                   2844
Less than 1 year    2699
Name: YearsCodePro, dtype: int64

22223 out of 83439 rows have no years of experience of coding

In [17]:
print("#### DEVELOPER TYPES (20 RANDOM SAMPLES) ####")
print(df['DevType'].sample(20))
print("\n{} out of {} rows contain null values".format(df['DevType'].isnull().sum(), len(df)))

#### DEVELOPER TYPES (20 RANDOM SAMPLES) ####
67163                                                  NaN
75695    Developer, mobile;Developer, front-end;Develop...
77305                                                  NaN
19059              Developer, full-stack;DevOps specialist
26662        Data scientist or machine learning specialist
5315         Data scientist or machine learning specialist
48699                        Developer, front-end;Designer
22152    Developer, mobile;Developer, full-stack;Engine...
68824                                                  NaN
15825    Developer, QA or test;Data or business analyst...
73049                                  Engineering manager
14056    Developer, front-end;Developer, desktop or ent...
19357    Developer, front-end;Developer, full-stack;Dev...
34877                                                  NaN
79144    Engineer, data;Developer, back-end;Database ad...
73242                                    Developer, mobile
2181               Developer, full-stack;DevOps specialist
40227                                    DevOps specialist
4765     Developer, back-end;DevOps specialist;Data or ...
64369                                                  NaN
Name: DevType, dtype: object

16955 out of 83439 rows contain null values

In [18]:
print("#### ALL ORGANIZATION SIZES ####")
print(df['OrgSize'].value_counts())
print("\n{} out of {} rows do not have any organization sizes specified.".format(df['OrgSize'].isnull().sum(), len(df)))

#### ALL ORGANIZATION SIZES ####
20 to 99 employees                                    12507
100 to 499 employees                                  10506
10,000 or more employees                               8016
2 to 9 employees                                       6551
1,000 to 4,999 employees                               6287
10 to 19 employees                                     5404
Just me - I am a freelancer, sole proprietor, etc.     4033
500 to 999 employees                                   3789
5,000 to 9,999 employees                               2279
I don’t know                                           1354
Name: OrgSize, dtype: int64

22713 out of 83439 rows do not have any organization sizes specified.

In [19]:
print("#### 20 MOST FREQUENT CURRENCIES ####")
print(df['Currency'].value_counts()[:20])
print("\n{} out of {} rows contain null values".format(df['Currency'].isnull().sum(), len(df)))

#### 20 MOST FREQUENT CURRENCIES ####
USD\tUnited States dollar     14363
EUR European Euro             13932
INR\tIndian rupee              6427
GBP\tPound sterling            3547
CAD\tCanadian dollar           2108
BRL\tBrazilian real            1755
AUD\tAustralian dollar         1272
PLN\tPolish zloty              1268
RUB\tRussian ruble             1062
SEK\tSwedish krona              942
CHF\tSwiss franc                710
ILS\tIsraeli new shekel         652
TRY\tTurkish lira               635
IRR\tIranian rial               588
CNY\tChinese Yuan Renminbi      568
CZK\tCzech koruna               549
MXN\tMexican peso               503
PKR\tPakistani rupee            486
NOK\tNorwegian krone            478
DKK\tDanish krone               474
Name: Currency, dtype: int64

22359 out of 83439 rows contain null values

In [20]:
print("#### 20 HIGHEST COMPTOTAL VALUES ####")
print(df['CompTotal'].sort_values(ascending=False)[:20])
print("\n{} out of {} rows contain null values.".format(df['CompTotal'].isnull().sum(), len(df)))
print("{} out of {} rows are equal to 0".format(len(df[df['CompTotal'] == 0]), len(df)))

#### 20 HIGHEST COMPTOTAL VALUES ####
6378     1.000000e+74
18919    8.000000e+52
62417    7.000000e+39
103      1.000000e+29
23552    1.000000e+25
45850    6.675636e+15
69035    4.162026e+15
39571    5.474577e+10
82156    3.500000e+10
37018    1.000000e+10
78554    9.000000e+09
1216     6.000000e+09
47547    6.000000e+09
66910    5.123468e+09
22568    2.000000e+09
35770    2.000000e+09
20897    1.654000e+09
44662    1.500000e+09
10817    1.430000e+09
60971    1.408500e+09
Name: CompTotal, dtype: float64

36256 out of 83439 rows contain null values.
167 out of 83439 rows are equal to 0

In [21]:
print("#### COMPFREQ COUNTS ####")
print(df['CompFreq'].value_counts())
print("\n{} out of {} rows contain null values".format(df['CompFreq'].isnull().sum(), len(df)))

#### COMPFREQ COUNTS ####
Yearly     25767
Monthly    24744
Weekly      1639
Name: CompFreq, dtype: int64

31289 out of 83439 rows contain null values

In [22]:
print("#### LANGUAGES PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####")
print(df['LanguageHaveWorkedWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['LanguageHaveWorkedWith'].isnull().sum(), len(df)))

#### LANGUAGES PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####
8264     Bash/Shell;Go;HTML/CSS;Java;JavaScript;Python;...
36562    Dart;HTML/CSS;Java;JavaScript;Node.js;Python;R...
40675                                    Dart;Java;Node.js
30938                           C#;HTML/CSS;JavaScript;SQL
44277                                Assembly;C;Matlab;VBA
35792           Bash/Shell;Elixir;Perl;PHP;Python;Ruby;SQL
81503                                             Java;SQL
56394                                    Objective-C;Swift
66270    Bash/Shell;C;C#;Dart;Java;JavaScript;Node.js;P...
16904                    C;C++;Java;Kotlin;Rust;TypeScript
67774                                           Clojure;Go
73330       HTML/CSS;JavaScript;Node.js;PHP;SQL;TypeScript
23114                      C;C++;JavaScript;PHP;Python;SQL
41934                       HTML/CSS;JavaScript;TypeScript
68864                   HTML/CSS;JavaScript;PHP;Python;SQL
41467                Bash/Shell;HTML/CSS;Java;Python;R;SQL
65815    Bash/Shell;HTML/CSS;Java;JavaScript;Node.js;PH...
58045                C;C#;C++;JavaScript;Python;TypeScript
26457                        C;C#;C++;HTML/CSS;Java;Python
3851     Bash/Shell;C;HTML/CSS;JavaScript;Perl;PHP;Pyth...
Name: LanguageHaveWorkedWith, dtype: object

1082 out of 83439 rows contain null values

In [23]:
print("#### LANGUAGES PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####")
print(df['LanguageWantToWorkWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['LanguageWantToWorkWith'].isnull().sum(), len(df)))

#### LANGUAGES PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####
67130                                                  NaN
17908         C;Go;HTML/CSS;JavaScript;Node.js;Python;Rust
3165     C#;HTML/CSS;Java;JavaScript;Node.js;Python;Typ...
10324                                                   Go
35158         Go;HTML/CSS;JavaScript;PowerShell;TypeScript
21405                                                  NaN
34456                                               Erlang
67127                                           Python;SQL
4075     C#;Dart;Delphi;Go;HTML/CSS;Java;JavaScript;Nod...
37539                                                Swift
42122                            Assembly;C;C++;JavaScript
12943                                                 Dart
32082                             C#;JavaScript;TypeScript
78238                                           Bash/Shell
65912                                         C++;Python;R
28530        Java;JavaScript;Node.js;Python;SQL;TypeScript
21109     C#;HTML/CSS;JavaScript;PowerShell;SQL;TypeScript
75788                              HTML/CSS;JavaScript;PHP
70724    C++;Dart;Elixir;Erlang;Go;Haskell;HTML/CSS;Jav...
36948                                           Python;SQL
Name: LanguageWantToWorkWith, dtype: object

6618 out of 83439 rows contain null values

In [24]:
print("#### DATABASES PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####")
print(df['DatabaseHaveWorkedWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['DatabaseHaveWorkedWith'].isnull().sum(), len(df)))

#### DATABASES PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####
82793                                         MySQL;Oracle
25808                                   MongoDB;PostgreSQL
14606                                   MongoDB;PostgreSQL
15614                                                  NaN
16357                                                  NaN
41453                                         MySQL;SQLite
73173                                               SQLite
15539    MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...
15555                                 MariaDB;MySQL;SQLite
51788          DynamoDB;Microsoft SQL Server;MongoDB;MySQL
22334                  Firebase;Microsoft SQL Server;MySQL
38305                                                  NaN
77064    DynamoDB;Firebase;IBM DB2;Microsoft SQL Server...
41812                                           PostgreSQL
40530                                              MongoDB
2139                                          MySQL;SQLite
55527                             MariaDB;MySQL;PostgreSQL
9871                                                   NaN
21141                                               SQLite
80695                                 MariaDB;MySQL;SQLite
Name: DatabaseHaveWorkedWith, dtype: object

13893 out of 83439 rows contain null values

In [25]:
print("#### DATABASES PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####")
print(df['DatabaseWantToWorkWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['DatabaseWantToWorkWith'].isnull().sum(), len(df)))

#### DATABASES PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####
48279                                                  NaN
65505    Cassandra;Couchbase;DynamoDB;MariaDB;MongoDB;R...
23580                                                  NaN
73363                                     Firebase;MongoDB
83153                                                  NaN
82807                                                  NaN
40195                                              IBM DB2
43003                                           PostgreSQL
80746                          Firebase;MongoDB;PostgreSQL
22325               Elasticsearch;MongoDB;PostgreSQL;Redis
42495                    DynamoDB;Elasticsearch;PostgreSQL
43422                                                  NaN
27344                        Firebase;Microsoft SQL Server
21489                                        MongoDB;Redis
27635                                                  NaN
36281                   MariaDB;Microsoft SQL Server;MySQL
25549                                                  NaN
38167                                           PostgreSQL
76873                                                  NaN
33293                                                MySQL
Name: DatabaseWantToWorkWith, dtype: object

25140 out of 83439 rows contain null values

In [26]:
print("#### PLATFORMS PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####")
print(df['PlatformHaveWorkedWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['PlatformHaveWorkedWith'].isnull().sum(), len(df)))

#### PLATFORMS PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####
69310                              Microsoft Azure
30806                        Google Cloud Platform
78050                                          NaN
45575                              Microsoft Azure
47602                                       Heroku
26060                                 DigitalOcean
74775                             AWS;DigitalOcean
13340                                          NaN
25813                                          NaN
23041                                          AWS
70554                                          NaN
40221                                       Heroku
53733                                          NaN
68990                                          NaN
38839                                          NaN
40367                                          NaN
43333                                          NaN
47437    AWS;Google Cloud Platform;Microsoft Azure
54536                                          NaN
13405                              Microsoft Azure
Name: PlatformHaveWorkedWith, dtype: object

31304 out of 83439 rows contain null values

In [27]:
print("#### PLATFORMS PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####")
print(df['PlatformWantToWorkWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['PlatformWantToWorkWith'].isnull().sum(), len(df)))

#### PLATFORMS PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####
48262                                               Heroku
70617                                                  AWS
76695                Google Cloud Platform;Microsoft Azure
11436                                                  NaN
22323    AWS;Google Cloud Platform;Heroku;IBM Cloud or ...
160                                                    NaN
9347                          Google Cloud Platform;Heroku
38766    AWS;DigitalOcean;Google Cloud Platform;IBM Clo...
67767                                                  NaN
40367                                                  NaN
27291                         Google Cloud Platform;Heroku
69379                                                  AWS
56177                                                  NaN
51815                                  AWS;Microsoft Azure
60363                                                  AWS
16172                                                  NaN
65601                                                  NaN
64621                                                  NaN
65405                                                  NaN
76334                                                  AWS
Name: PlatformWantToWorkWith, dtype: object

41820 out of 83439 rows contain null values

In [28]:
print("#### WEB FRAMES PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####")
print(df['WebframeHaveWorkedWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['WebframeHaveWorkedWith'].isnull().sum(), len(df)))

#### WEB FRAMES PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####
27199                                        Angular.js
71601                      Angular;ASP.NET Core ;Spring
20873    Angular;Express;jQuery;Laravel;React.js;Vue.js
75530             ASP.NET;ASP.NET Core ;jQuery;React.js
47027                                             Flask
13567                   Express;jQuery;Laravel;React.js
61535                                           Angular
65899                                            Vue.js
8820                              Express;jQuery;Vue.js
27449                                    Angular;Spring
20507                                               NaN
78113           Angular;Angular.js;Django;jQuery;Spring
27913                      ASP.NET;ASP.NET Core ;jQuery
42801                                               NaN
51955                                           Angular
61019                             ASP.NET;ASP.NET Core
71883                            FastAPI;Flask;React.js
29109         Angular;Angular.js;jQuery;React.js;Spring
22133                                          React.js
47392     ASP.NET;ASP.NET Core ;Express;jQuery;React.js
Name: WebframeHaveWorkedWith, dtype: object

21732 out of 83439 rows contain null values

In [29]:
print("#### WEB FRAMES PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####")
print(df['WebframeWantToWorkWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['WebframeWantToWorkWith'].isnull().sum(), len(df)))

#### WEB FRAMES PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####
70181    Angular.js;ASP.NET;ASP.NET Core ;jQuery;React.js
81518                                            React.js
63024               Django;Express;FastAPI;Flask;React.js
74157                                                 NaN
28994                               Angular;Ruby on Rails
27440                                       ASP.NET Core
29134                                                 NaN
68310               Angular;jQuery;React.js;Svelte;Vue.js
15349                             Angular;React.js;Spring
16559                                    Express;React.js
76740                                                 NaN
74494                                                 NaN
66552                                                 NaN
68266                                                 NaN
33531                                                 NaN
65542                                                 NaN
71042                                                 NaN
48881               Angular;ASP.NET Core ;React.js;Vue.js
25767                                              Vue.js
52171                      ASP.NET Core ;Express;React.js
Name: WebframeWantToWorkWith, dtype: object

31344 out of 83439 rows contain null values

In [30]:
print("#### MISCELLANEOUS TECHNOLOGIES PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####")
print(df['MiscTechHaveWorkedWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['MiscTechHaveWorkedWith'].isnull().sum(), len(df)))

#### MISCELLANEOUS TECHNOLOGIES PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####
13903                                        NaN
75083                               React Native
39018                                        NaN
75330                                        NaN
39690          .NET Framework;.NET Core / .NET 5
13572                                        NaN
37832                                        NaN
13400                                        NaN
9277                         Hadoop;NumPy;Pandas
12005    Hadoop;Keras;NumPy;Pandas;Qt;TensorFlow
15720                       .NET Framework;NumPy
37583                                        NaN
24584                                        NaN
51287                        Pandas;React Native
44934                       Flutter;React Native
32599                                        NaN
54379                                        NaN
13439                                         Qt
66282                            Qt;React Native
12889                               NumPy;Pandas
Name: MiscTechHaveWorkedWith, dtype: object

36384 out of 83439 rows contain null values

In [31]:
print("#### MISCELLANEOUS TECHNOLOGIES PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####")
print(df['MiscTechWantToWorkWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['MiscTechWantToWorkWith'].isnull().sum(), len(df)))

#### MISCELLANEOUS TECHNOLOGIES PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####
78793                                                  NaN
14548                                                  NaN
73203    .NET Framework;.NET Core / .NET 5;Hadoop;NumPy...
22376                                  Apache Spark;Pandas
20146                                                  NaN
19509                                       .NET Framework
49091                                   .NET Core / .NET 5
56099    .NET Framework;Keras;NumPy;Pandas;TensorFlow;T...
53700                                                  NaN
63433                                         NumPy;Pandas
48843                                                  NaN
75629                                                  NaN
22225                                                  NaN
15411            .NET Framework;.NET Core / .NET 5;Flutter
22234                                                  NaN
67092                                                  NaN
23280                    .NET Framework;.NET Core / .NET 5
70281        Flutter;React Native;TensorFlow;Torch/PyTorch
33285                                  NumPy;Torch/PyTorch
52748                                                  NaN
Name: MiscTechWantToWorkWith, dtype: object

45418 out of 83439 rows contain null values

In [32]:
print("#### TECHNOLOGY TOOLS PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####")
print(df['ToolsTechHaveWorkedWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['ToolsTechHaveWorkedWith'].isnull().sum(), len(df)))

#### TECHNOLOGY TOOLS PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####
40826                   NaN
73525                   NaN
37087                   Git
7269           Git;Unity 3D
58627       Docker;Git;Yarn
62142            Docker;Git
21197     Git;Unity 3D;Yarn
15697                   NaN
22381                   Git
38188                   Git
42436                   Git
28615            Docker;Git
78061       Docker;Git;Yarn
1088                 Docker
4185                   Deno
72912                   Git
77531            Docker;Git
67970                   Git
44980            Docker;Git
23864    Ansible;Docker;Git
Name: ToolsTechHaveWorkedWith, dtype: object

10902 out of 83439 rows contain null values

In [33]:
print("#### TECHNOLOGY TOOLS PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####")
print(df['ToolsTechWantToWorkWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['ToolsTechWantToWorkWith'].isnull().sum(), len(df)))

#### TECHNOLOGY TOOLS PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####
33152            Deno;Docker;Git;Unreal Engine;Yarn
19499                                    Docker;Git
61745                                    Docker;Git
6588                     Docker;Git;Kubernetes;Yarn
41606                                           Git
60335                          Docker;Git;Terraform
16162                                           Git
14914                                    Docker;Git
41389                                           NaN
31290                         Docker;Git;Kubernetes
18091                               Docker;Git;Yarn
19612                         Docker;Git;Kubernetes
62300    Ansible;Docker;Kubernetes;Pulumi;Terraform
47492                                           NaN
24630                                           Git
10569                                Git;Kubernetes
78723                         Docker;Git;Kubernetes
15501                                           Git
72834                                           Git
57902                                      Git;Yarn
Name: ToolsTechWantToWorkWith, dtype: object

17959 out of 83439 rows contain null values

In [34]:
print("#### IDE TOOLS PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####")
print(df['NEWCollabToolsHaveWorkedWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['NEWCollabToolsHaveWorkedWith'].isnull().sum(), len(df)))

#### IDE TOOLS PEOPLE HAVE WORKED WITH (20 RANDOM SAMPLES) ####
12265                                   Visual Studio Code
59684                               Vim;Visual Studio Code
50267                  IntelliJ;PyCharm;Visual Studio Code
32990                           Eclipse;Visual Studio Code
41559                                                  NaN
32249                  Notepad++;PHPStorm;Sublime Text;Vim
72052                          IntelliJ;Visual Studio Code
46276           Notepad++;Visual Studio;Visual Studio Code
35122                                   Visual Studio Code
28037          Android Studio;Vim;Visual Studio Code;Xcode
15978                          IntelliJ;Visual Studio Code
36541                                  Atom;TextMate;Xcode
51712                            Android Studio;Atom;Xcode
17668                 IntelliJ;IPython/Jupyter;PyCharm;Vim
38151                           Atom;Eclipse;Visual Studio
67464    Android Studio;Atom;Eclipse;IntelliJ;IPython/J...
51935                                   Visual Studio Code
16479                                             PHPStorm
23598                                              PyCharm
57379                          PHPStorm;Visual Studio Code
Name: NEWCollabToolsHaveWorkedWith, dtype: object

2205 out of 83439 rows contain null values

In [35]:
print("#### IDE TOOLS PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####")
print(df['NEWCollabToolsWantToWorkWith'].sample(20))
print("\n{} out of {} rows contain null values".format(df['NEWCollabToolsWantToWorkWith'].isnull().sum(), len(df)))

#### IDE TOOLS PEOPLE WANT TO WORK WITH (20 RANDOM SAMPLES) ####
64579    Atom;IPython/Jupyter;Neovim;Sublime Text;Visua...
50854                               Vim;Visual Studio Code
27609                                   Notepad++;Webstorm
54180                                       TextMate;Xcode
54329                                   Visual Studio Code
55544                                   Visual Studio Code
15397                                               Neovim
947                                                  Emacs
56164                               Vim;Visual Studio Code
45851                               Vim;Visual Studio Code
19480    Android Studio;Eclipse;IntelliJ;IPython/Jupyte...
73353                            Android Studio;Atom;Xcode
57357               Rider;Visual Studio;Visual Studio Code
71198                Android Studio;Vim;Visual Studio Code
33736                                                  NaN
24859                                                  Vim
68855                 Notepad++;PyCharm;Visual Studio Code
74532                                                  NaN
46619                                                Emacs
83025                                                  Vim
Name: NEWCollabToolsWantToWorkWith, dtype: object

10417 out of 83439 rows contain null values

In [36]:
print("#### OPERATING SYSTEMS BEING USED ####")
print(df['OpSys'].value_counts())
print("\n{} out of {} rows' operating systems are unkonwn".format(df['OpSys'].isnull().sum(), len(df)))

#### OPERATING SYSTEMS BEING USED ####
Windows                              37758
Linux-based                          21088
MacOS                                20984
Windows Subsystem for Linux (WSL)     2743
Other (please specify):                575
BSD                                    146
Name: OpSys, dtype: int64

145 out of 83439 rows' operating systems are unkonwn

In [37]:
print("#### HOW PEOPLE GET HELP WHEN STUCK (20 RANDOM SAMPLES) ####")
print(df['NEWStuck'].sample(20))
print("\n{} out of {} rows contain null values".format(df['NEWStuck'].isnull().sum(), len(df)))

#### HOW PEOPLE GET HELP WHEN STUCK (20 RANDOM SAMPLES) ####
66859    Call a coworker or friend;Google it;Do other w...
9119                   Call a coworker or friend;Google it
82162    Google it;Watch help / tutorial videos;Do othe...
65520    Visit Stack Overflow;Go for a walk or other ph...
55585    Visit Stack Overflow;Google it;Do other work a...
55245    Visit Stack Overflow;Google it;Watch help / tu...
51331    Call a coworker or friend;Visit Stack Overflow...
25390    Call a coworker or friend;Visit Stack Overflow...
4100     Call a coworker or friend;Visit Stack Overflow...
44355    Call a coworker or friend;Visit Stack Overflow...
31231    Call a coworker or friend;Visit Stack Overflow...
68560    Call a coworker or friend;Visit Stack Overflow...
160      Visit Stack Overflow;Google it;Do other work a...
77271                  Call a coworker or friend;Google it
30160                                            Google it
3968     Visit Stack Overflow;Google it;Do other work a...
62155    Visit Stack Overflow;Go for a walk or other ph...
49694    Call a coworker or friend;Visit Stack Overflow...
12475    Visit Stack Overflow;Google it;Meditate;Other ...
28715    Call a coworker or friend;Visit Stack Overflow...
Name: NEWStuck, dtype: object

387 out of 83439 rows contain null values

In [38]:
print("#### WHICH SITES PEOPLE LOOK FOR THEIR ANSWERS ####")
print(df['NEWSOSites'].value_counts())
print("\n{} out of {} rows contain null values".format(df['NEWSOSites'].isnull().sum(), len(df)))

#### WHICH SITES PEOPLE LOOK FOR THEIR ANSWERS ####
Stack Overflow;Stack Exchange                                                                                                54658
Stack Overflow                                                                                                               23473
Stack Overflow;Stack Exchange;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)     3099
I have never visited Stack Overflow or the Stack Exchange network                                                              750
Stack Overflow;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)                     671
Stack Exchange                                                                                                                 257
Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)                                    246
Stack Exchange;Stack Overflow for Teams (private knowledge sharing & collaboration platform for companies)                      17
Name: NEWSOSites, dtype: int64

268 out of 83439 rows contain null values

In [39]:
print("#### VISIT FREQUENCY AT STACK OVERFLOW/EXCHANGE ####")
print(df['SOVisitFreq'].value_counts())
print("\n{} out of {} rows contain null values".format(df['SOVisitFreq'].isnull().sum(), len(df)))

#### VISIT FREQUENCY AT STACK OVERFLOW/EXCHANGE ####
Daily or almost daily                  25262
A few times per week                   22481
Multiple times per day                 19580
A few times per month or weekly        12710
Less than once per month or monthly     2380
Name: SOVisitFreq, dtype: int64

1026 out of 83439 rows contain null values

In [40]:
print("#### PEOPLE HAVING ACCOUNTS AT STACK OVERFLOW/EXCHANGE ####")
print(df['SOAccount'].value_counts())
print("\n{} out of {} rows contain null values".format(df['SOAccount'].isnull().sum(), len(df)))

#### PEOPLE HAVING ACCOUNTS AT STACK OVERFLOW/EXCHANGE ####
Yes                        67813
No                         10510
Not sure/can't remember     4202
Name: SOAccount, dtype: int64

914 out of 83439 rows contain null values

In [41]:
print("#### PARTICIPATION FREQUENCY AT STACK OVERFLOW/EXCHANGE ####")
print(df['SOPartFreq'].value_counts())
print("\n{} out of {} rows contain null values.".format(df['SOPartFreq'].isnull().sum(), len(df)))

#### PARTICIPATION FREQUENCY AT STACK OVERFLOW/EXCHANGE ####
Less than once per month or monthly                   30778
I have never participated in Q&A on Stack Overflow    14243
A few times per month or weekly                       12978
A few times per week                                   5687
Daily or almost daily                                  2613
Multiple times per day                                 1254
Name: SOPartFreq, dtype: int64

15886 out of 83439 rows contain null values.

In [42]:
print("#### COMMUNICATION FREQUENCY AT STACK OVERFLOW/EXCHANGE ####")
print(df['SOComm'].value_counts())
print("\n{} out of {} rows contain null values".format(df['SOComm'].isnull().sum(), len(df)))

#### COMMUNICATION FREQUENCY AT STACK OVERFLOW/EXCHANGE ####
Yes, somewhat      23584
No, not really     20697
Neutral            17084
Yes, definitely    12888
No, not at all      6633
Not sure            1433
Name: SOComm, dtype: int64

1120 out of 83439 rows contain null values

In [43]:
print("#### OTHER COMMUNICATIONS EXIST AT STACK OVERFLOW/EXCHANGE ####")
print(df['NEWOtherComms'])
print("\n{} out of {} rows contain null values".format(df['NEWOtherComms'].isnull().sum(), len(df)))

#### OTHER COMMUNICATIONS EXIST AT STACK OVERFLOW/EXCHANGE ####
0         No
1         No
2        Yes
3         No
4         No
        ...
83434     No
83435     No
83436     No
83437     No
83438     No
Name: NEWOtherComms, Length: 83439, dtype: object

611 out of 83439 rows contain null values

In [49]:
print("#### AGE RANGES ####")
print(df['Age'].value_counts())
print("\n{} out of {} rows have no specified ages".format(df['Age'].isnull().sum(), len(df)))

#### AGE RANGES ####
25-34 years old       32568
18-24 years old       20993
35-44 years old       15183
45-54 years old        5472
Under 18 years old     5376
55-64 years old        1819
Prefer not to say       575
65 years or older       421
Name: Age, dtype: int64

1032 out of 83439 rows have no specified ages

In [52]:
print("#### GENDERS ####")
print(df['Gender'].value_counts())
print("\n{} out of {} rows have no specified gender".format(df['Gender'].isnull().sum(), len(df)))

#### GENDERS ####
Man                                                                                   74817
Woman                                                                                  4120
Prefer not to say                                                                      1442
Non-binary, genderqueer, or gender non-conforming                                       690
Or, in your own words:                                                                  413
Man;Or, in your own words:                                                              268
Man;Non-binary, genderqueer, or gender non-conforming                                   252
Woman;Non-binary, genderqueer, or gender non-conforming                                 147
Man;Woman                                                                                41
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:                 21
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              21
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:       17
Woman;Or, in your own words:                                                             16
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:             11
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:            9
Man;Woman;Or, in your own words:                                                          1
Name: Gender, dtype: int64

1153 out of 83439 rows have no specified gender

In [54]:
print("#### TRANS STATUS ####")
print(df['Trans'].value_counts())
print("\n{} out of {} rows have no trans status specified".format(df['Trans'].isnull().sum(), len(df)))

#### TRANS STATUS ####
No                        77275
Prefer not to say          1764
Yes                        1035
Or, in your own words:      604
Name: Trans, dtype: int64

2761 out of 83439 rows have no trans status specified

In [56]:
print("#### SEXUALITY STATUS ####")
print(df['Sexuality'].value_counts())
print("\n{} out of {} rows have no sexuality status specified".format(df['Sexuality'].isnull().sum(), len(df)))

#### SEXUALITY STATUS ####
Straight / Heterosexual                                                           61094
Prefer not to say                                                                  4783
Bisexual                                                                           2879
Gay or Lesbian                                                                     1367
Prefer to self-describe:                                                           1258
Straight / Heterosexual;Bisexual                                                    492
Queer                                                                               376
Bisexual;Queer                                                                      273
Straight / Heterosexual;Prefer to self-describe:                                    225
Gay or Lesbian;Queer                                                                149
Straight / Heterosexual;Queer                                                        78
Bisexual;Gay or Lesbian                                                              71
Prefer to self-describe:;Queer                                                       61
Bisexual;Gay or Lesbian;Queer                                                        49
Bisexual;Prefer to self-describe:                                                    36
Bisexual;Prefer to self-describe:;Queer                                              26
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer       22
Straight / Heterosexual;Gay or Lesbian                                               21
Straight / Heterosexual;Bisexual;Gay or Lesbian;Queer                                21
Straight / Heterosexual;Bisexual;Gay or Lesbian                                      18
Straight / Heterosexual;Bisexual;Queer                                               15
Prefer to self-describe:;Gay or Lesbian;Queer                                        14
Straight / Heterosexual;Bisexual;Prefer to self-describe:                            11
Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer                               10
Straight / Heterosexual;Prefer to self-describe:;Queer                                5
Prefer to self-describe:;Gay or Lesbian                                               5
Bisexual;Prefer to self-describe:;Gay or Lesbian                                      3
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian              2
Straight / Heterosexual;Gay or Lesbian;Queer                                          1
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Queer                       1
Name: Sexuality, dtype: int64

10073 out of 83439 rows have no sexuality status specified

In [61]:
print("#### 20 MOST FREQUENT ETHNICITY STATUS ####")
print(df['Ethnicity'].value_counts()[:20])
print("\n{} out of {} rows have no ethnicity status specified".format(df['Ethnicity'].isnull().sum(), len(df)))

#### 20 MOST FREQUENT ETHNICITY STATUS ####
White or of European descent                                                                                     42671
South Asian                                                                                                       8328
Hispanic or Latino/a/x                                                                                            3585
Southeast Asian                                                                                                   3224
Prefer not to say                                                                                                 3062
Middle Eastern                                                                                                    2985
East Asian                                                                                                        2947
I don't know                                                                                                      2140
Black or of African descent                                                                                       2085
Or, in your own words:                                                                                            2014
White or of European descent;Hispanic or Latino/a/x                                                               1155
White or of European descent;Middle Eastern                                                                        621
Multiracial                                                                                                        415
Southeast Asian;South Asian                                                                                        290
White or of European descent;Or, in your own words:                                                                276
Biracial                                                                                                           235
White or of European descent;Indigenous (such as Native American, Pacific Islander, or Indigenous Australian)      170
South Asian;Or, in your own words:                                                                                 168
Southeast Asian;East Asian                                                                                         150
White or of European descent;I don't know                                                                          138
Name: Ethnicity, dtype: int64

3975 out of 83439 rows have no ethnicity status specified

In [74]:
print("#### ACCESSIBILITY STATUS (TOP 10) ####")
print(df['Accessibility'].value_counts()[:10])
print("\n{} out of {} rows have no accessibility status specified".format(df['Accessibility'].isnull().sum(), len(df)))

#### ACCESSIBILITY STATUS (TOP 10) ####
None of the above                                                                                                                                                                    72725
Prefer not to say                                                                                                                                                                     1918
I am blind / have difficulty seeing                                                                                                                                                   1030
Or, in your own words:                                                                                                                                                                 842
I am deaf / hard of hearing                                                                                                                                                            442
I am unable to / find it difficult to walk or stand without assistance                                                                                                                 188
I am unable to / find it difficult to type                                                                                                                                             160
I am blind / have difficulty seeing;Or, in your own words:                                                                                                                              54
I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance       49
I am deaf / hard of hearing;I am blind / have difficulty seeing                                                                                                                         45
Name: Accessibility, dtype: int64

5836 out of 83439 rows have no accessibility status specified

In [80]:
print("#### MENTAL HEALTH STATUS (TOP 10) ####")
print(df['MentalHealth'].value_counts()[:10])
print("\n{} out of {} rows have no mental health status specified".format(df['MentalHealth'].isnull().sum(), len(df)))

#### MENTAL HEALTH STATUS (TOP 10) ####
None of the above                                                                                                                                               56459
Prefer not to say                                                                                                                                                3932
I have a concentration and/or memory disorder (e.g. ADHD)                                                                                                        3059
I have an anxiety disorder                                                                                                                                       2840
I have a mood or emotional disorder (e.g. depression, bipolar disorder)                                                                                          2324
I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder                                                               1811
I have autism / an autism spectrum disorder (e.g. Asperger's)                                                                                                    1224
Or, in your own words:                                                                                                                                           1050
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder);I have an anxiety disorder     1009
I have a concentration and/or memory disorder (e.g. ADHD);I have a mood or emotional disorder (e.g. depression, bipolar disorder)                                 664
Name: MentalHealth, dtype: int64

6519 out of 83439 rows have no mental health status specified

In [83]:
print("#### THOUGHTS ABOUT SURVEY LENGTH ####")
print(df['SurveyLength'].value_counts())
print("\n{} out of {} rows have nothing about the survey length".format(df['SurveyLength'].isnull().sum(), len(df)))

#### THOUGHTS ABOUT SURVEY LENGTH ####
Appropriate in length    64514
Too long                 13087
Too short                 4110
Name: SurveyLength, dtype: int64

1728 out of 83439 rows have nothing about the usrvey length

In [86]:
print("#### THOUGHTS ABOUT SURVEY EASINESS ####")
print(df['SurveyEase'].value_counts())
print("\n{} out of {} rows have nothing about the survey easiness".format(df['SurveyEase'].isnull().sum(), len(df)))

#### THOUGHTS ABOUT SURVEY EASINESS ####
Easy                          63087
Neither easy nor difficult    18091
Difficult                       770
Name: SurveyEase, dtype: int64

1491 out of 83439 rows have nothing about the survey easiness

In [91]:
print("#### 20 HIGHEST CONVERTEDCOMP YEARLY ####")
print(df['ConvertedCompYearly'].sort_values(ascending=False)[:20])
print("\n{} out of {} rows contain null values".format(df['ConvertedCompYearly'].isnull().sum(), len(df)))

#### 20 HIGHEST CONVERTEDCOMP YEARLY ####
66910    45241312.0
65399    30468516.0
40586    21822250.0
28791    20000000.0
12700    19200000.0
9608     17500000.0
5305     15000000.0
12903    14411628.0
66488    12750000.0
7205     12500000.0
47563    12500000.0
3733     11250000.0
33255    11250000.0
35779    11000000.0
7904     10500000.0
10372    10350000.0
9189     10200000.0
66323    10000000.0
53028    10000000.0
52070    10000000.0
Name: ConvertedCompYearly, dtype: float64

36595 out of 83439 rows contain null values

In [44]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')